# Ignore Node modules
node_modules/

# Ignore build output
dist/
build/
out/

# Ignore log files
*.log

# Ignore WebStorm specific files
.idea/
*.iml

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore coverage reports
coverage/
